Autres/Python/test_utile/del_whitespacce/dictionnaire1.txt filter=lfs diff=lfs merge=lfs -text
Autres/Python/test_utile/del_whitespacce/dictionnaire.txt filter=lfs diff=lfs merge=lfs -text
Autres/Python/test_utile/del_whitespacce/dictionnaire_white_space_deleted.txt filter=lfs diff=lfs merge=lfs -text
