*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    background: linear-gradient(145deg, #2b121b, #240f17);
    box-shadow:  14px 14px 28px #180a0f,
                 -14px -14px 28px #381823;
}
.music-player{
    width: 500px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 41px;
    background: linear-gradient(145deg, #381a25, #2f1620);
    box-shadow:  5px 5px 5px #2b171f,
    -5px -5px 5px #472633;

}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 70px;  
    border-radius: 50%;
    background: linear-gradient(315deg, #482533, #3c202b);
    box-shadow:  -5px -5px 17px #351c26,
    5px 5px 17px #3d202c;
}
nav .circle i{
    font-size: 30px;
}
.song-image{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    /*box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);*/
    background: linear-gradient(315deg, #422330, #4e2a39);
    box-shadow:  -8px -8px 16px #24131a,
                 8px 8px 16px #6e3b50;
    
}
.music-player h1{
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}
.music-player p{
    font-size: 20px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    background: linear-gradient(145deg, #a28893, #c1a2ae);
}  
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    background: #c1a2ae;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22)

} 





/*

             border-radius: 41px;
             background: linear-gradient(145deg, #7f4056, #6b3648);
             box-shadow:  5px 5px 10px #46232f,
                          -5px -5px 10px #a85571;*/